*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: serif;
}


.navbar{
    color: goldenrod;
    background-color: black ;
    padding: 25px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.royal{
    padding-top: 10px ;
}

.cart{
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;
} 

.cartitems{
    font-size: 20px;
    background-color: red;
    color: goldenrod;
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 2px;
    border-radius: 1px;
}

.shoppage{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 10px;
    justify-content: center;
}

@media (max-width: 1200px) {
    .shoppage{
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width: 950px) {
    .shoppage{
        grid-template-columns: repeat(1, 300px);
    }
}

.listitems{
    border: 3px solid black;
    border-radius: 6px;
}

.info{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}
.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.btn{
    display: flex;
    gap: 10px;
}

.bi-dash-lg{
    color: red;
}

.bi-plus-lg{
    color: green;
}